body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.score {
  background-color: navy;
  color:paleturquoise;
  /* height:40vh; */
  text-align: center;
}
.question{
  flex-direction:column;
  background-color: midnightblue;
  color:white;
  /* height: 60vh; */
}